-- CreateEnum
CREATE TYPE "_locales" AS ENUM ('en', 'ar');

-- CreateEnum
CREATE TYPE "enum__tenants_v_published_locale" AS ENUM ('en', 'ar');

-- CreateEnum
CREATE TYPE "enum__tenants_v_version_status" AS ENUM ('draft', 'published');

-- CreateEnum
CREATE TYPE "enum_business_themes_dark_background_type" AS ENUM ('color', 'image');

-- CreateEnum
CREATE TYPE "enum_business_themes_light_background_type" AS ENUM ('color', 'image');

-- CreateEnum
CREATE TYPE "enum_business_themes_theme_type" AS ENUM ('business', 'personal');

-- CreateEnum
CREATE TYPE "enum_section_titles_section_type" AS ENUM ('about', 'contact', 'social', 'partners', 'locations', 'gallery', 'services');

-- CreateEnum
CREATE TYPE "enum_tenants_status" AS ENUM ('draft', 'published');

-- CreateEnum
CREATE TYPE "enum_users_role" AS ENUM ('super-admin', 'user');

-- CreateTable
CREATE TABLE "_tenants_v" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "parent_id" UUID,
    "version_name" VARCHAR,
    "version_slug" VARCHAR,
    "version_updated_at" TIMESTAMPTZ(3),
    "version_created_at" TIMESTAMPTZ(3),
    "version__status" "enum__tenants_v_version_status" DEFAULT 'draft',
    "created_at" TIMESTAMPTZ(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMPTZ(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "snapshot" BOOLEAN,
    "published_locale" "enum__tenants_v_published_locale",
    "latest" BOOLEAN,

    CONSTRAINT "_tenants_v_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "about_business" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "updated_at" TIMESTAMPTZ(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "created_at" TIMESTAMPTZ(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "tenant_id" UUID,

    CONSTRAINT "about_section_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "about_business_locales" (
    "description" VARCHAR NOT NULL,
    "id" SERIAL NOT NULL,
    "_locale" "_locales" NOT NULL,
    "_parent_id" UUID NOT NULL,

    CONSTRAINT "about_business_locales_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "business_locations" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "tenant_id" UUID,
    "google_map_link" VARCHAR,
    "order" DECIMAL,
    "updated_at" TIMESTAMPTZ(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "created_at" TIMESTAMPTZ(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "business_locations_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "business_locations_locales" (
    "title" VARCHAR NOT NULL,
    "description" VARCHAR,
    "id" SERIAL NOT NULL,
    "_locale" "_locales" NOT NULL,
    "_parent_id" UUID NOT NULL,

    CONSTRAINT "business_locations_locales_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "business_partners" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "tenant_id" UUID,
    "logo_id" UUID NOT NULL,
    "website" VARCHAR,
    "order" DECIMAL,
    "updated_at" TIMESTAMPTZ(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "created_at" TIMESTAMPTZ(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "business_partners_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "business_partners_locales" (
    "name" VARCHAR NOT NULL,
    "id" SERIAL NOT NULL,
    "_locale" "_locales" NOT NULL,
    "_parent_id" UUID NOT NULL,

    CONSTRAINT "business_partners_locales_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "business_profile" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "tenant_id" UUID,
    "logo_light_id" UUID,
    "logo_dark_id" UUID,
    "updated_at" TIMESTAMPTZ(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "created_at" TIMESTAMPTZ(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "business_profile_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "business_profile_locales" (
    "business_name" VARCHAR NOT NULL,
    "slogan" VARCHAR,
    "id" SERIAL NOT NULL,
    "_locale" "_locales" NOT NULL,
    "_parent_id" UUID NOT NULL,

    CONSTRAINT "business_profile_locales_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "business_services" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "tenant_id" UUID,
    "order" DECIMAL,
    "updated_at" TIMESTAMPTZ(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "created_at" TIMESTAMPTZ(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "url" VARCHAR,

    CONSTRAINT "business_services_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "business_services_locales" (
    "title" VARCHAR NOT NULL,
    "description" VARCHAR,
    "id" SERIAL NOT NULL,
    "_locale" "_locales" NOT NULL,
    "_parent_id" UUID NOT NULL,
    "url_name" VARCHAR,

    CONSTRAINT "business_services_locales_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "business_themes" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "tenant_id" UUID,
    "name" VARCHAR NOT NULL,
    "updated_at" TIMESTAMPTZ(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "created_at" TIMESTAMPTZ(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "light_background_type" "enum_business_themes_light_background_type" NOT NULL DEFAULT 'color',
    "light_background_color" VARCHAR DEFAULT '#FFFFFF',
    "light_background_image_id" UUID,
    "dark_background_type" "enum_business_themes_dark_background_type" NOT NULL DEFAULT 'color',
    "dark_background_color" VARCHAR DEFAULT '#000000',
    "dark_background_image_id" UUID,
    "theme_type" "enum_business_themes_theme_type" NOT NULL DEFAULT 'business',
    "primary_color" VARCHAR DEFAULT '#3B82F6',
    "secondary_color" VARCHAR DEFAULT '#6B7280',

    CONSTRAINT "business_themes_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "contact_departments" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "tenant_id" UUID,
    "whatsapp" BOOLEAN DEFAULT false,
    "telegram" BOOLEAN DEFAULT false,
    "telephone" BOOLEAN DEFAULT false,
    "order" DECIMAL,
    "updated_at" TIMESTAMPTZ(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "created_at" TIMESTAMPTZ(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "sms" BOOLEAN DEFAULT false,

    CONSTRAINT "contact_departments_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "contact_departments_locales" (
    "title" VARCHAR NOT NULL,
    "phone" VARCHAR NOT NULL,
    "id" SERIAL NOT NULL,
    "_locale" "_locales" NOT NULL,
    "_parent_id" UUID NOT NULL,

    CONSTRAINT "contact_departments_locales_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "image_galleries" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "tenant_id" UUID,
    "updated_at" TIMESTAMPTZ(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "created_at" TIMESTAMPTZ(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "autoplay" BOOLEAN DEFAULT true,
    "autoplay_delay" DECIMAL DEFAULT 5000,

    CONSTRAINT "image_galleries_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "image_galleries_images" (
    "_order" INTEGER NOT NULL,
    "_parent_id" UUID NOT NULL,
    "id" VARCHAR NOT NULL,
    "image_id" UUID NOT NULL,

    CONSTRAINT "image_galleries_images_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "media" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "tenant_id" UUID,
    "alt" VARCHAR NOT NULL,
    "updated_at" TIMESTAMPTZ(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "created_at" TIMESTAMPTZ(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "url" VARCHAR,
    "thumbnail_u_r_l" VARCHAR,
    "filename" VARCHAR,
    "mime_type" VARCHAR,
    "filesize" DECIMAL,
    "width" DECIMAL,
    "height" DECIMAL,
    "focal_x" DECIMAL,
    "focal_y" DECIMAL,
    "sizes_thumbnail_url" VARCHAR,
    "sizes_thumbnail_width" DECIMAL,
    "sizes_thumbnail_height" DECIMAL,
    "sizes_thumbnail_mime_type" VARCHAR,
    "sizes_thumbnail_filesize" DECIMAL,
    "sizes_thumbnail_filename" VARCHAR,
    "sizes_square_url" VARCHAR,
    "sizes_square_width" DECIMAL,
    "sizes_square_height" DECIMAL,
    "sizes_square_mime_type" VARCHAR,
    "sizes_square_filesize" DECIMAL,
    "sizes_square_filename" VARCHAR,
    "sizes_small_url" VARCHAR,
    "sizes_small_width" DECIMAL,
    "sizes_small_height" DECIMAL,
    "sizes_small_mime_type" VARCHAR,
    "sizes_small_filesize" DECIMAL,
    "sizes_small_filename" VARCHAR,
    "sizes_medium_url" VARCHAR,
    "sizes_medium_width" DECIMAL,
    "sizes_medium_height" DECIMAL,
    "sizes_medium_mime_type" VARCHAR,
    "sizes_medium_filesize" DECIMAL,
    "sizes_medium_filename" VARCHAR,
    "sizes_large_url" VARCHAR,
    "sizes_large_width" DECIMAL,
    "sizes_large_height" DECIMAL,
    "sizes_large_mime_type" VARCHAR,
    "sizes_large_filesize" DECIMAL,
    "sizes_large_filename" VARCHAR,
    "sizes_xlarge_url" VARCHAR,
    "sizes_xlarge_width" DECIMAL,
    "sizes_xlarge_height" DECIMAL,
    "sizes_xlarge_mime_type" VARCHAR,
    "sizes_xlarge_filesize" DECIMAL,
    "sizes_xlarge_filename" VARCHAR,

    CONSTRAINT "media_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "partners_carousel_settings" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "tenant_id" UUID,
    "autoplay" BOOLEAN DEFAULT true,
    "autoplay_speed" DECIMAL DEFAULT 5000,
    "updated_at" TIMESTAMPTZ(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "created_at" TIMESTAMPTZ(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "partners_carousel_settings_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "payload_kv" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "key" VARCHAR NOT NULL,
    "data" JSONB NOT NULL,

    CONSTRAINT "payload_kv_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "payload_locked_documents" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "global_slug" VARCHAR,
    "updated_at" TIMESTAMPTZ(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "created_at" TIMESTAMPTZ(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "payload_locked_documents_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "payload_locked_documents_rels" (
    "id" SERIAL NOT NULL,
    "order" INTEGER,
    "parent_id" UUID NOT NULL,
    "path" VARCHAR NOT NULL,
    "media_id" UUID,
    "users_id" UUID,
    "tenants_id" UUID,
    "business_profile_id" UUID,
    "business_themes_id" UUID,
    "image_galleries_id" UUID,
    "contact_departments_id" UUID,
    "social_links_id" UUID,
    "business_partners_id" UUID,
    "business_locations_id" UUID,
    "about_business_id" UUID,
    "section_titles_id" UUID,
    "tenant_link_configuration_id" UUID,
    "business_services_id" UUID,
    "partners_carousel_settings_id" UUID,

    CONSTRAINT "payload_locked_documents_rels_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "payload_migrations" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "name" VARCHAR,
    "batch" DECIMAL,
    "updated_at" TIMESTAMPTZ(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "created_at" TIMESTAMPTZ(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "payload_migrations_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "payload_preferences" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "key" VARCHAR,
    "value" JSONB,
    "updated_at" TIMESTAMPTZ(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "created_at" TIMESTAMPTZ(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "payload_preferences_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "payload_preferences_rels" (
    "id" SERIAL NOT NULL,
    "order" INTEGER,
    "parent_id" UUID NOT NULL,
    "path" VARCHAR NOT NULL,
    "users_id" UUID,

    CONSTRAINT "payload_preferences_rels_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "section_titles" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "tenant_id" UUID,
    "section_type" "enum_section_titles_section_type" NOT NULL,
    "updated_at" TIMESTAMPTZ(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "created_at" TIMESTAMPTZ(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "section_titles_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "section_titles_locales" (
    "title" VARCHAR NOT NULL,
    "id" SERIAL NOT NULL,
    "_locale" "_locales" NOT NULL,
    "_parent_id" UUID NOT NULL,

    CONSTRAINT "section_titles_locales_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "social_links" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "tenant_id" UUID,
    "updated_at" TIMESTAMPTZ(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "created_at" TIMESTAMPTZ(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "image_id" UUID NOT NULL,
    "url" VARCHAR NOT NULL,
    "order" DECIMAL DEFAULT 0,

    CONSTRAINT "social_links_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "social_links_locales" (
    "label" VARCHAR NOT NULL,
    "id" SERIAL NOT NULL,
    "_locale" "_locales" NOT NULL,
    "_parent_id" UUID NOT NULL,

    CONSTRAINT "social_links_locales_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "tenant_link_configuration" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "tenant_id" UUID NOT NULL,
    "static_url" VARCHAR NOT NULL,
    "qr_url" VARCHAR,
    "updated_at" TIMESTAMPTZ(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "created_at" TIMESTAMPTZ(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "tenant_link_configuration_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "tenants" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "name" VARCHAR,
    "slug" VARCHAR,
    "updated_at" TIMESTAMPTZ(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "created_at" TIMESTAMPTZ(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "_status" "enum_tenants_status" DEFAULT 'draft',

    CONSTRAINT "tenants_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "users" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "role" "enum_users_role" DEFAULT 'user',
    "tenant_id" UUID,
    "updated_at" TIMESTAMPTZ(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "created_at" TIMESTAMPTZ(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "email" VARCHAR NOT NULL,
    "reset_password_token" VARCHAR,
    "reset_password_expiration" TIMESTAMPTZ(3),
    "salt" VARCHAR,
    "hash" VARCHAR,
    "login_attempts" DECIMAL DEFAULT 0,
    "lock_until" TIMESTAMPTZ(3),

    CONSTRAINT "users_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "users_sessions" (
    "_order" INTEGER NOT NULL,
    "_parent_id" UUID NOT NULL,
    "id" VARCHAR NOT NULL,
    "created_at" TIMESTAMPTZ(3),
    "expires_at" TIMESTAMPTZ(3) NOT NULL,

    CONSTRAINT "users_sessions_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE INDEX "_tenants_v_created_at_idx" ON "_tenants_v"("created_at");

-- CreateIndex
CREATE INDEX "_tenants_v_latest_idx" ON "_tenants_v"("latest");

-- CreateIndex
CREATE INDEX "_tenants_v_parent_idx" ON "_tenants_v"("parent_id");

-- CreateIndex
CREATE INDEX "_tenants_v_published_locale_idx" ON "_tenants_v"("published_locale");

-- CreateIndex
CREATE INDEX "_tenants_v_snapshot_idx" ON "_tenants_v"("snapshot");

-- CreateIndex
CREATE INDEX "_tenants_v_updated_at_idx" ON "_tenants_v"("updated_at");

-- CreateIndex
CREATE INDEX "_tenants_v_version_version__status_idx" ON "_tenants_v"("version__status");

-- CreateIndex
CREATE INDEX "_tenants_v_version_version_created_at_idx" ON "_tenants_v"("version_created_at");

-- CreateIndex
CREATE INDEX "_tenants_v_version_version_slug_idx" ON "_tenants_v"("version_slug");

-- CreateIndex
CREATE INDEX "_tenants_v_version_version_updated_at_idx" ON "_tenants_v"("version_updated_at");

-- CreateIndex
CREATE INDEX "about_business_created_at_idx" ON "about_business"("created_at");

-- CreateIndex
CREATE INDEX "about_business_tenant_idx" ON "about_business"("tenant_id");

-- CreateIndex
CREATE INDEX "about_business_updated_at_idx" ON "about_business"("updated_at");

-- CreateIndex
CREATE UNIQUE INDEX "about_business_locales_locale_parent_id_unique" ON "about_business_locales"("_locale", "_parent_id");

-- CreateIndex
CREATE INDEX "business_locations_created_at_idx" ON "business_locations"("created_at");

-- CreateIndex
CREATE INDEX "business_locations_tenant_idx" ON "business_locations"("tenant_id");

-- CreateIndex
CREATE INDEX "business_locations_updated_at_idx" ON "business_locations"("updated_at");

-- CreateIndex
CREATE UNIQUE INDEX "business_locations_locales_locale_parent_id_unique" ON "business_locations_locales"("_locale", "_parent_id");

-- CreateIndex
CREATE INDEX "business_partners_created_at_idx" ON "business_partners"("created_at");

-- CreateIndex
CREATE INDEX "business_partners_logo_idx" ON "business_partners"("logo_id");

-- CreateIndex
CREATE INDEX "business_partners_tenant_idx" ON "business_partners"("tenant_id");

-- CreateIndex
CREATE INDEX "business_partners_updated_at_idx" ON "business_partners"("updated_at");

-- CreateIndex
CREATE UNIQUE INDEX "business_partners_locales_locale_parent_id_unique" ON "business_partners_locales"("_locale", "_parent_id");

-- CreateIndex
CREATE INDEX "business_profile_created_at_idx" ON "business_profile"("created_at");

-- CreateIndex
CREATE INDEX "business_profile_logo_dark_idx" ON "business_profile"("logo_dark_id");

-- CreateIndex
CREATE INDEX "business_profile_logo_light_idx" ON "business_profile"("logo_light_id");

-- CreateIndex
CREATE INDEX "business_profile_tenant_idx" ON "business_profile"("tenant_id");

-- CreateIndex
CREATE INDEX "business_profile_updated_at_idx" ON "business_profile"("updated_at");

-- CreateIndex
CREATE UNIQUE INDEX "business_profile_locales_locale_parent_id_unique" ON "business_profile_locales"("_locale", "_parent_id");

-- CreateIndex
CREATE INDEX "business_services_created_at_idx" ON "business_services"("created_at");

-- CreateIndex
CREATE INDEX "business_services_tenant_idx" ON "business_services"("tenant_id");

-- CreateIndex
CREATE INDEX "business_services_updated_at_idx" ON "business_services"("updated_at");

-- CreateIndex
CREATE UNIQUE INDEX "business_services_locales_locale_parent_id_unique" ON "business_services_locales"("_locale", "_parent_id");

-- CreateIndex
CREATE INDEX "business_themes_created_at_idx" ON "business_themes"("created_at");

-- CreateIndex
CREATE INDEX "business_themes_dark_background_dark_background_image_idx" ON "business_themes"("dark_background_image_id");

-- CreateIndex
CREATE INDEX "business_themes_light_background_light_background_image_idx" ON "business_themes"("light_background_image_id");

-- CreateIndex
CREATE INDEX "business_themes_tenant_idx" ON "business_themes"("tenant_id");

-- CreateIndex
CREATE INDEX "business_themes_updated_at_idx" ON "business_themes"("updated_at");

-- CreateIndex
CREATE INDEX "contact_departments_created_at_idx" ON "contact_departments"("created_at");

-- CreateIndex
CREATE INDEX "contact_departments_tenant_idx" ON "contact_departments"("tenant_id");

-- CreateIndex
CREATE INDEX "contact_departments_updated_at_idx" ON "contact_departments"("updated_at");

-- CreateIndex
CREATE UNIQUE INDEX "contact_departments_locales_locale_parent_id_unique" ON "contact_departments_locales"("_locale", "_parent_id");

-- CreateIndex
CREATE INDEX "image_galleries_created_at_idx" ON "image_galleries"("created_at");

-- CreateIndex
CREATE INDEX "image_galleries_tenant_idx" ON "image_galleries"("tenant_id");

-- CreateIndex
CREATE INDEX "image_galleries_updated_at_idx" ON "image_galleries"("updated_at");

-- CreateIndex
CREATE INDEX "image_galleries_images_image_idx" ON "image_galleries_images"("image_id");

-- CreateIndex
CREATE INDEX "image_galleries_images_order_idx" ON "image_galleries_images"("_order");

-- CreateIndex
CREATE INDEX "image_galleries_images_parent_id_idx" ON "image_galleries_images"("_parent_id");

-- CreateIndex
CREATE UNIQUE INDEX "media_filename_idx" ON "media"("filename");

-- CreateIndex
CREATE INDEX "media_created_at_idx" ON "media"("created_at");

-- CreateIndex
CREATE INDEX "media_sizes_large_sizes_large_filename_idx" ON "media"("sizes_large_filename");

-- CreateIndex
CREATE INDEX "media_sizes_medium_sizes_medium_filename_idx" ON "media"("sizes_medium_filename");

-- CreateIndex
CREATE INDEX "media_sizes_small_sizes_small_filename_idx" ON "media"("sizes_small_filename");

-- CreateIndex
CREATE INDEX "media_sizes_square_sizes_square_filename_idx" ON "media"("sizes_square_filename");

-- CreateIndex
CREATE INDEX "media_sizes_thumbnail_sizes_thumbnail_filename_idx" ON "media"("sizes_thumbnail_filename");

-- CreateIndex
CREATE INDEX "media_sizes_xlarge_sizes_xlarge_filename_idx" ON "media"("sizes_xlarge_filename");

-- CreateIndex
CREATE INDEX "media_tenant_idx" ON "media"("tenant_id");

-- CreateIndex
CREATE INDEX "media_updated_at_idx" ON "media"("updated_at");

-- CreateIndex
CREATE INDEX "partners_carousel_settings_created_at_idx" ON "partners_carousel_settings"("created_at");

-- CreateIndex
CREATE INDEX "partners_carousel_settings_tenant_idx" ON "partners_carousel_settings"("tenant_id");

-- CreateIndex
CREATE INDEX "partners_carousel_settings_updated_at_idx" ON "partners_carousel_settings"("updated_at");

-- CreateIndex
CREATE UNIQUE INDEX "payload_kv_key_idx" ON "payload_kv"("key");

-- CreateIndex
CREATE INDEX "payload_locked_documents_created_at_idx" ON "payload_locked_documents"("created_at");

-- CreateIndex
CREATE INDEX "payload_locked_documents_global_slug_idx" ON "payload_locked_documents"("global_slug");

-- CreateIndex
CREATE INDEX "payload_locked_documents_updated_at_idx" ON "payload_locked_documents"("updated_at");

-- CreateIndex
CREATE INDEX "payload_locked_documents_rels_about_business_id_idx" ON "payload_locked_documents_rels"("about_business_id");

-- CreateIndex
CREATE INDEX "payload_locked_documents_rels_business_locations_id_idx" ON "payload_locked_documents_rels"("business_locations_id");

-- CreateIndex
CREATE INDEX "payload_locked_documents_rels_business_partners_id_idx" ON "payload_locked_documents_rels"("business_partners_id");

-- CreateIndex
CREATE INDEX "payload_locked_documents_rels_business_profile_id_idx" ON "payload_locked_documents_rels"("business_profile_id");

-- CreateIndex
CREATE INDEX "payload_locked_documents_rels_business_services_id_idx" ON "payload_locked_documents_rels"("business_services_id");

-- CreateIndex
CREATE INDEX "payload_locked_documents_rels_business_themes_id_idx" ON "payload_locked_documents_rels"("business_themes_id");

-- CreateIndex
CREATE INDEX "payload_locked_documents_rels_contact_departments_id_idx" ON "payload_locked_documents_rels"("contact_departments_id");

-- CreateIndex
CREATE INDEX "payload_locked_documents_rels_image_galleries_id_idx" ON "payload_locked_documents_rels"("image_galleries_id");

-- CreateIndex
CREATE INDEX "payload_locked_documents_rels_media_id_idx" ON "payload_locked_documents_rels"("media_id");

-- CreateIndex
CREATE INDEX "payload_locked_documents_rels_order_idx" ON "payload_locked_documents_rels"("order");

-- CreateIndex
CREATE INDEX "payload_locked_documents_rels_parent_idx" ON "payload_locked_documents_rels"("parent_id");

-- CreateIndex
CREATE INDEX "payload_locked_documents_rels_partners_carousel_settings_idx" ON "payload_locked_documents_rels"("partners_carousel_settings_id");

-- CreateIndex
CREATE INDEX "payload_locked_documents_rels_path_idx" ON "payload_locked_documents_rels"("path");

-- CreateIndex
CREATE INDEX "payload_locked_documents_rels_section_titles_id_idx" ON "payload_locked_documents_rels"("section_titles_id");

-- CreateIndex
CREATE INDEX "payload_locked_documents_rels_social_links_id_idx" ON "payload_locked_documents_rels"("social_links_id");

-- CreateIndex
CREATE INDEX "payload_locked_documents_rels_tenant_link_configuration__idx" ON "payload_locked_documents_rels"("tenant_link_configuration_id");

-- CreateIndex
CREATE INDEX "payload_locked_documents_rels_tenants_id_idx" ON "payload_locked_documents_rels"("tenants_id");

-- CreateIndex
CREATE INDEX "payload_locked_documents_rels_users_id_idx" ON "payload_locked_documents_rels"("users_id");

-- CreateIndex
CREATE INDEX "payload_migrations_created_at_idx" ON "payload_migrations"("created_at");

-- CreateIndex
CREATE INDEX "payload_migrations_updated_at_idx" ON "payload_migrations"("updated_at");

-- CreateIndex
CREATE INDEX "payload_preferences_created_at_idx" ON "payload_preferences"("created_at");

-- CreateIndex
CREATE INDEX "payload_preferences_key_idx" ON "payload_preferences"("key");

-- CreateIndex
CREATE INDEX "payload_preferences_updated_at_idx" ON "payload_preferences"("updated_at");

-- CreateIndex
CREATE INDEX "payload_preferences_rels_order_idx" ON "payload_preferences_rels"("order");

-- CreateIndex
CREATE INDEX "payload_preferences_rels_parent_idx" ON "payload_preferences_rels"("parent_id");

-- CreateIndex
CREATE INDEX "payload_preferences_rels_path_idx" ON "payload_preferences_rels"("path");

-- CreateIndex
CREATE INDEX "payload_preferences_rels_users_id_idx" ON "payload_preferences_rels"("users_id");

-- CreateIndex
CREATE UNIQUE INDEX "section_titles_section_type_idx" ON "section_titles"("section_type");

-- CreateIndex
CREATE INDEX "section_titles_created_at_idx" ON "section_titles"("created_at");

-- CreateIndex
CREATE INDEX "section_titles_tenant_idx" ON "section_titles"("tenant_id");

-- CreateIndex
CREATE INDEX "section_titles_updated_at_idx" ON "section_titles"("updated_at");

-- CreateIndex
CREATE UNIQUE INDEX "section_titles_locales_locale_parent_id_unique" ON "section_titles_locales"("_locale", "_parent_id");

-- CreateIndex
CREATE INDEX "social_links_created_at_idx" ON "social_links"("created_at");

-- CreateIndex
CREATE INDEX "social_links_image_idx" ON "social_links"("image_id");

-- CreateIndex
CREATE INDEX "social_links_tenant_idx" ON "social_links"("tenant_id");

-- CreateIndex
CREATE INDEX "social_links_updated_at_idx" ON "social_links"("updated_at");

-- CreateIndex
CREATE UNIQUE INDEX "social_links_locales_locale_parent_id_unique" ON "social_links_locales"("_locale", "_parent_id");

-- CreateIndex
CREATE INDEX "tenant_link_configuration_created_at_idx" ON "tenant_link_configuration"("created_at");

-- CreateIndex
CREATE INDEX "tenant_link_configuration_tenant_idx" ON "tenant_link_configuration"("tenant_id");

-- CreateIndex
CREATE INDEX "tenant_link_configuration_updated_at_idx" ON "tenant_link_configuration"("updated_at");

-- CreateIndex
CREATE UNIQUE INDEX "tenants_slug_idx" ON "tenants"("slug");

-- CreateIndex
CREATE INDEX "tenants__status_idx" ON "tenants"("_status");

-- CreateIndex
CREATE INDEX "tenants_created_at_idx" ON "tenants"("created_at");

-- CreateIndex
CREATE INDEX "tenants_updated_at_idx" ON "tenants"("updated_at");

-- CreateIndex
CREATE UNIQUE INDEX "users_email_idx" ON "users"("email");

-- CreateIndex
CREATE INDEX "users_created_at_idx" ON "users"("created_at");

-- CreateIndex
CREATE INDEX "users_tenant_idx" ON "users"("tenant_id");

-- CreateIndex
CREATE INDEX "users_updated_at_idx" ON "users"("updated_at");

-- CreateIndex
CREATE INDEX "users_sessions_order_idx" ON "users_sessions"("_order");

-- CreateIndex
CREATE INDEX "users_sessions_parent_id_idx" ON "users_sessions"("_parent_id");

-- AddForeignKey
ALTER TABLE "_tenants_v" ADD CONSTRAINT "_tenants_v_parent_id_tenants_id_fk" FOREIGN KEY ("parent_id") REFERENCES "tenants"("id") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "about_business" ADD CONSTRAINT "about_business_tenant_id_tenants_id_fk" FOREIGN KEY ("tenant_id") REFERENCES "tenants"("id") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "about_business_locales" ADD CONSTRAINT "about_business_locales_parent_id_fk" FOREIGN KEY ("_parent_id") REFERENCES "about_business"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "business_locations" ADD CONSTRAINT "business_locations_tenant_id_tenants_id_fk" FOREIGN KEY ("tenant_id") REFERENCES "tenants"("id") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "business_locations_locales" ADD CONSTRAINT "business_locations_locales_parent_id_fk" FOREIGN KEY ("_parent_id") REFERENCES "business_locations"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "business_partners" ADD CONSTRAINT "business_partners_logo_id_media_id_fk" FOREIGN KEY ("logo_id") REFERENCES "media"("id") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "business_partners" ADD CONSTRAINT "business_partners_tenant_id_tenants_id_fk" FOREIGN KEY ("tenant_id") REFERENCES "tenants"("id") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "business_partners_locales" ADD CONSTRAINT "business_partners_locales_parent_id_fk" FOREIGN KEY ("_parent_id") REFERENCES "business_partners"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "business_profile" ADD CONSTRAINT "business_profile_logo_dark_id_media_id_fk" FOREIGN KEY ("logo_dark_id") REFERENCES "media"("id") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "business_profile" ADD CONSTRAINT "business_profile_logo_light_id_media_id_fk" FOREIGN KEY ("logo_light_id") REFERENCES "media"("id") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "business_profile" ADD CONSTRAINT "business_profile_tenant_id_tenants_id_fk" FOREIGN KEY ("tenant_id") REFERENCES "tenants"("id") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "business_profile_locales" ADD CONSTRAINT "business_profile_locales_parent_id_fk" FOREIGN KEY ("_parent_id") REFERENCES "business_profile"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "business_services" ADD CONSTRAINT "business_services_tenant_id_tenants_id_fk" FOREIGN KEY ("tenant_id") REFERENCES "tenants"("id") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "business_services_locales" ADD CONSTRAINT "business_services_locales_parent_id_fk" FOREIGN KEY ("_parent_id") REFERENCES "business_services"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "business_themes" ADD CONSTRAINT "business_themes_dark_background_image_id_media_id_fk" FOREIGN KEY ("dark_background_image_id") REFERENCES "media"("id") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "business_themes" ADD CONSTRAINT "business_themes_light_background_image_id_media_id_fk" FOREIGN KEY ("light_background_image_id") REFERENCES "media"("id") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "business_themes" ADD CONSTRAINT "business_themes_tenant_id_tenants_id_fk" FOREIGN KEY ("tenant_id") REFERENCES "tenants"("id") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "contact_departments" ADD CONSTRAINT "contact_departments_tenant_id_tenants_id_fk" FOREIGN KEY ("tenant_id") REFERENCES "tenants"("id") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "contact_departments_locales" ADD CONSTRAINT "contact_departments_locales_parent_id_fk" FOREIGN KEY ("_parent_id") REFERENCES "contact_departments"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "image_galleries" ADD CONSTRAINT "image_galleries_tenant_id_tenants_id_fk" FOREIGN KEY ("tenant_id") REFERENCES "tenants"("id") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "image_galleries_images" ADD CONSTRAINT "image_galleries_images_image_id_media_id_fk" FOREIGN KEY ("image_id") REFERENCES "media"("id") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "image_galleries_images" ADD CONSTRAINT "image_galleries_images_parent_id_fk" FOREIGN KEY ("_parent_id") REFERENCES "image_galleries"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "media" ADD CONSTRAINT "media_tenant_id_tenants_id_fk" FOREIGN KEY ("tenant_id") REFERENCES "tenants"("id") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "partners_carousel_settings" ADD CONSTRAINT "partners_carousel_settings_tenant_id_tenants_id_fk" FOREIGN KEY ("tenant_id") REFERENCES "tenants"("id") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "payload_locked_documents_rels" ADD CONSTRAINT "payload_locked_documents_rels_about_business_fk" FOREIGN KEY ("about_business_id") REFERENCES "about_business"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "payload_locked_documents_rels" ADD CONSTRAINT "payload_locked_documents_rels_business_locations_fk" FOREIGN KEY ("business_locations_id") REFERENCES "business_locations"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "payload_locked_documents_rels" ADD CONSTRAINT "payload_locked_documents_rels_business_partners_fk" FOREIGN KEY ("business_partners_id") REFERENCES "business_partners"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "payload_locked_documents_rels" ADD CONSTRAINT "payload_locked_documents_rels_business_profile_fk" FOREIGN KEY ("business_profile_id") REFERENCES "business_profile"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "payload_locked_documents_rels" ADD CONSTRAINT "payload_locked_documents_rels_business_services_fk" FOREIGN KEY ("business_services_id") REFERENCES "business_services"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "payload_locked_documents_rels" ADD CONSTRAINT "payload_locked_documents_rels_business_themes_fk" FOREIGN KEY ("business_themes_id") REFERENCES "business_themes"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "payload_locked_documents_rels" ADD CONSTRAINT "payload_locked_documents_rels_configuration_fk" FOREIGN KEY ("tenant_link_configuration_id") REFERENCES "tenant_link_configuration"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "payload_locked_documents_rels" ADD CONSTRAINT "payload_locked_documents_rels_contact_departments_fk" FOREIGN KEY ("contact_departments_id") REFERENCES "contact_departments"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "payload_locked_documents_rels" ADD CONSTRAINT "payload_locked_documents_rels_image_galleries_fk" FOREIGN KEY ("image_galleries_id") REFERENCES "image_galleries"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "payload_locked_documents_rels" ADD CONSTRAINT "payload_locked_documents_rels_media_fk" FOREIGN KEY ("media_id") REFERENCES "media"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "payload_locked_documents_rels" ADD CONSTRAINT "payload_locked_documents_rels_parent_fk" FOREIGN KEY ("parent_id") REFERENCES "payload_locked_documents"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "payload_locked_documents_rels" ADD CONSTRAINT "payload_locked_documents_rels_partners_carousel_settings_fk" FOREIGN KEY ("partners_carousel_settings_id") REFERENCES "partners_carousel_settings"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "payload_locked_documents_rels" ADD CONSTRAINT "payload_locked_documents_rels_section_titles_fk" FOREIGN KEY ("section_titles_id") REFERENCES "section_titles"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "payload_locked_documents_rels" ADD CONSTRAINT "payload_locked_documents_rels_social_links_fk" FOREIGN KEY ("social_links_id") REFERENCES "social_links"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "payload_locked_documents_rels" ADD CONSTRAINT "payload_locked_documents_rels_tenants_fk" FOREIGN KEY ("tenants_id") REFERENCES "tenants"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "payload_locked_documents_rels" ADD CONSTRAINT "payload_locked_documents_rels_users_fk" FOREIGN KEY ("users_id") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "payload_preferences_rels" ADD CONSTRAINT "payload_preferences_rels_parent_fk" FOREIGN KEY ("parent_id") REFERENCES "payload_preferences"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "payload_preferences_rels" ADD CONSTRAINT "payload_preferences_rels_users_fk" FOREIGN KEY ("users_id") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "section_titles" ADD CONSTRAINT "section_titles_tenant_id_tenants_id_fk" FOREIGN KEY ("tenant_id") REFERENCES "tenants"("id") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "section_titles_locales" ADD CONSTRAINT "section_titles_locales_parent_id_fk" FOREIGN KEY ("_parent_id") REFERENCES "section_titles"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "social_links" ADD CONSTRAINT "social_links_image_id_media_id_fk" FOREIGN KEY ("image_id") REFERENCES "media"("id") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "social_links" ADD CONSTRAINT "social_links_tenant_id_tenants_id_fk" FOREIGN KEY ("tenant_id") REFERENCES "tenants"("id") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "social_links_locales" ADD CONSTRAINT "social_links_locales_parent_id_fk" FOREIGN KEY ("_parent_id") REFERENCES "social_links"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "tenant_link_configuration" ADD CONSTRAINT "tenant_link_configuration_tenant_id_tenants_id_fk" FOREIGN KEY ("tenant_id") REFERENCES "tenants"("id") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "users" ADD CONSTRAINT "users_tenant_id_tenants_id_fk" FOREIGN KEY ("tenant_id") REFERENCES "tenants"("id") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "users_sessions" ADD CONSTRAINT "users_sessions_parent_id_fk" FOREIGN KEY ("_parent_id") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

